<app-table-header
  [headerText]="((selectedGroupId() ?? '' | group)?.name ?? '') + ' Dashboards'"
  subtitle="Create and switch between dashboards for this group."
>
  <div class="d-flex align-items-center">
    <app-add-button
      *hasGroupPermission="{ groupId: selectedGroupIdNum(), permission: Permission.GroupDashboardsCreate }"
      data-testid="dashboard-add"
      buttonText="Add Dashboard"
      tooltip="Add Dashboard"
      (clicked)="openDashboardDialog(true)"
    ></app-add-button>

    @if (selectedDashboardId()) {
      @if (selectedGroupId()) {
        <app-edit-button
          *hasGroupPermission="{ groupId: selectedGroupIdNum(), permission: Permission.GroupDashboardsUpdate }"
          color="accent"
          (clicked)="openDashboardDialog()"
        ></app-edit-button>
      }
      <app-delete-button
        *hasGroupPermission="{ groupId: selectedGroupIdNum(), permission: Permission.GroupDashboardsDelete }"
        color="warn"
        (clicked)="openDeleteConfirmationDialog()"
      >
      </app-delete-button>
    }
  </div>
</app-table-header>
<div class="mb-2">
  <mat-chip-listbox>
    @for (dashboard of dashboards(); track dashboard.id) {
      <mat-chip-option
        [selected]="dashboard?.id?.toString() == selectedDashboardId()"
        [selectable]="false"
        [routerLink]="[dashboard.id]"
        (click)="setSelectedDashboardId(dashboard.id)"
        >{{ dashboard.name }}</mat-chip-option
      >
    }
  </mat-chip-listbox>
</div>

@if (selectedDashboardId()) {
  <router-outlet></router-outlet>
}
@if (!selectedDashboardId() && !dashboards().length) {
  <p
    *hasGroupPermission="{ groupId: selectedGroupIdNum(), permission: Permission.GroupDashboardsCreate }"
  >
    Use the Add Dashboard button to create a dashboard for this group.
  </p>
}
