<app-table-header
  [headerText]="headerText"
  subtitle="Tag receipts to group and filter them however you like."
>
  <app-add-button
    *hasAppPermission="Permission.AppTagsCreate"
    data-testid="tag-add"
    buttonText="Add Tag"
    tooltip="Add Tag"
    (clicked)="openAddDialog()"
  >
  </app-add-button>
</app-table-header>
<div class="table-container">
  <app-table
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource()"
    [pagination]="true"
    [page]="(tagTableState()?.page ?? 1) - 1"
    [pageSize]="tagTableState()?.pageSize ?? 1"
    [length]="totalCount()"
    (sorted)="sorted($event)"
    (pageChange)="updatePageData($event)"
  ></app-table>
</div>

<ng-template #nameCell let-element="element">{{ element.name }}</ng-template>

<ng-template #descriptionCell let-element="element"
>{{ element.description }}
</ng-template>

<ng-template #numberOfReceiptsCell let-element="element"
>{{ element.numberOfReceipts }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <app-edit-button
    *hasAppPermission="Permission.AppTagsUpdate"
    data-testid="tag-edit"
    color="accent"
    (clicked)="openEditDialog(element)"
  ></app-edit-button>
  <app-delete-button
    *hasAppPermission="Permission.AppTagsDelete"
    data-testid="tag-delete"
    (clicked)="openDeleteConfirmationDialog(element)"
  ></app-delete-button>
</ng-template>
