<mat-drawer-container class="h-100">
  @if (isLoggedIn()) {
    <mat-drawer
      mode="side"
      [opened]="isSidebarOpen()"
    >
      <div
        class="drawer-container d-flex flex-column align-items-center pt-3 ps-3 pe-3"
      >
        <app-avatar
          class="cursor-pointer"
          data-testid="sidebar-avatar-menu"
          [user]="loggedInUser() ?? $any({})"
          [matMenuTriggerFor]="menu"
        ></app-avatar>
        @if (canAddAnything()) {
        <button
          mat-fab
          class="add-button mt-2"
          data-testid="sidebar-add-fab"
          (click)="toggleAddButtonExpanded()"
          [ngClass]="{
            'add-button-rotated mt-4': addButtonExpanded,
            'mb-2': !addButtonExpanded
          }"
        >
          <mat-icon>add</mat-icon>
        </button>
        <div
          class="add-buttons-container"
          [ngClass]="{
            'add-button-container-expanded': this.addButtonExpanded,
            'add-buttons-close': this.addButtonExpanded === false
          }"
        >
          <!-- <button
            mat-icon-button
            routerLinkActive="active-sub-button"
            matTooltip="Add User"
            type="button"
            color="accent"
          >
            <mat-icon>person</mat-icon>
          </button> -->
          <button
            *hasGroupPermission="{ groupId: selectedGroupIdNumber(), permission: Permission.GroupReceiptsCreate }"
            data-testid="sidebar-add-receipt"
            class="mt-4 mb-1 add-sub-button-1"
            mat-icon-button
            routerLinkActive="active-sub-button"
            matTooltip="Add Receipt"
            type="button"
            color="accent"
            [routerLink]="['/receipts/add']"
          >
            <mat-icon>article</mat-icon>
          </button>
          <app-quick-scan-button
            *hasGroupPermission="{ groupId: selectedGroupIdNumber(), permission: Permission.GroupReceiptsQuickScan }"
            data-testid="sidebar-quick-scan"
            class="mb-1 add-sub-button-2"
          ></app-quick-scan-button>
          <button
            *hasAppPermission="Permission.AppGroupsCreate"
            data-testid="sidebar-add-group"
            class="mb-1 add-sub-button-3"
            mat-icon-button
            routerLinkActive="active-sub-button"
            matTooltip="Add Group"
            type="button"
            color="accent"
            [routerLink]="['/groups/create']"
          >
            <mat-icon>group</mat-icon>
          </button>
        </div>
        }
        <hr/>
        @for (group of groups(); track group.id) {
          <div class="p-2">
            <ng-container
              [ngTemplateOutlet]="groupAvatar"
              [ngTemplateOutletContext]="{ group: group }"
            ></ng-container>
          </div>
        }
      </div>

      <mat-menu #menu="matMenu">
        <button *hasAppPermission="Permission.AppUsersRead" [routerLink]="['/users']" mat-menu-item>
          Manage Users
        </button>
        <button *hasAppPermission="Permission.AppRolesRead" [routerLink]="['/roles']" mat-menu-item>
          Manage Roles
        </button>
        <button *hasAppPermission="Permission.AppCategoriesRead" [routerLink]="['/categories']" mat-menu-item>
          Manage Categories
        </button>
        <button *hasAppPermission="Permission.AppTagsRead" [routerLink]="['/tags']" mat-menu-item>Manage Tags</button>
        <button *hasAppPermission="Permission.AppGroupsRead" [routerLink]="['/groups']" mat-menu-item>Manage Groups</button>
        <button *hasAppPermission="Permission.AppCustomFieldsRead" [routerLink]="['/custom-fields']" mat-menu-item>Manage Custom Fields</button>
        @if (canViewReports()) {
          <button [routerLink]="['/reports']" mat-menu-item>Reports</button>
        }
        @if (canViewUserSettings()) {
          <button mat-menu-item [routerLink]="['/settings']">
            User Settings
          </button>
        }
        @if (canViewSystemSettings()) {
          <button [routerLink]="['/system-settings']" mat-menu-item>
            System Settings
          </button>
        }
        <button *hasAppPermission="Permission.AppImportsRun" mat-menu-item (click)="openImportDialog()">
          Imports
        </button>
        <button mat-menu-item (click)="openAboutDialog()">About</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-drawer>
  }
  <mat-drawer-content
    class="drawer-content"
    [class.drawer-content--full-height]="isContentFullHeight()"
  >
    <app-header class="d-block sticky-top"></app-header>
    <div
      [ngClass]="{
      'p-4': isLoggedIn() && !isContentFullHeight(),
      }"
      class="d-block drawer-outlet"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #groupAvatar let-group="group">
  <div class="d-flex align-items-center group-avatar-container">
    <div
      [ngClass]="{
        'active-group': selectedGroupId() === group?.id?.toString()
      }"
      class="active-dot"
    ></div>
    <app-avatar
      class="cursor-pointer"
      [group]="group"
      (click)="groupClicked(group.id)"
    ></app-avatar>
  </div>
</ng-template>
