<div class="d-flex flex-column">
  <app-table-header
    headerText="Users"
    subtitle="Manage user accounts and the roles assigned to them."
  >
    <div class="d-flex gap-2">
      <ng-container *hasAppPermission="Permission.AppUsersDelete">
        <app-button
          *ngIf="hasSelectedUsers"
          buttonText="Delete Selected"
          color="warn"
          icon="delete"
          (clicked)="bulkDeleteUsers()"
        ></app-button>
      </ng-container>
      <app-add-button
        *hasAppPermission="Permission.AppUsersCreate"
        data-testid="user-add"
        buttonText="Add User"
        tooltip="Add User"
        (clicked)="openUserFormDialog()"
      ></app-add-button>
    </div>
  </app-table-header>
  <div class="table-container">
    <app-table
      [dataSource]="dataSource()"
      [columns]="columns"
      [displayedColumns]="displayedColumns"
      [selectionCheckboxes]="true"
      [pagination]="true"
      [length]="totalCount()"
      [page]="(page() || 1) - 1"
      [pageSize]="pageSize() || 50"
      (sorted)="sorted($event)"
      (pageChange)="pageChanged($event)"
    ></app-table>
  </div>
</div>

<ng-template #usernameCell let-element="element">
  {{ element.username }}
</ng-template>

<ng-template #displayNameCell let-element="element">
  {{ element.displayName }}
</ng-template>

<ng-template #appRoleCell let-element="element">
  {{ element.appRoleId | roleName : roles() : PermissionScope.App }}
</ng-template>

<ng-template #createdAtCell let-element="element">
  {{ element.createdAt | date : "short" }}
</ng-template>

<ng-template #updatedAtCell let-element="element">
  {{ element.updatedAt | date : "short" }}
</ng-template>

<ng-template #actionsCell let-element="element" let-index="index">
  <div class="d-flex align-items-center">
    <app-button
      *hasAppPermission="Permission.AppUsersUpdate"
      data-testid="user-edit"
      matButtonType="iconButton"
      icon="edit"
      tooltip="Edit User"
      color="accent"
      (clicked)="openUserFormDialog(element)"
    ></app-button>
    <app-button
      *hasAppPermission="Permission.AppUsersUpdate"
      data-testid="user-set-password"
      matButtonType="iconButton"
      icon="password"
      tooltip="Set password"
      color="accent"
      (clicked)="openResetPasswordDialog(element)"
    ></app-button>
    <ng-container *hasAppPermission="Permission.AppUsersUpdate">
      <app-button
        *ngIf="element.isDummyUser"
        matButtonType="iconButton"
        icon="person"
        color="accent"
        tooltip="Convert to normal user"
        (clicked)="openDummyUserConversionDialog(element)"
      >
      </app-button>
    </ng-container>
    <ng-container *hasAppPermission="Permission.AppUsersDelete">
      <app-delete-button
        *ngIf="userId() !== element.id.toString()"
        data-testid="user-delete"
        (clicked)="deleteUser(index)"
      ></app-delete-button>
    </ng-container>
  </div>
</ng-template>
