<app-dialog
  headerText="About"
>
  <div class="mb-3">
    <app-form-section
      headerText="Project"
    >
      <div class="d-flex flex-column m-2">
        @for (link of links; track link["url"]) {
          <span>
          {{ link.label }}: <a [href]="link.url" target="_blank">{{ link.url }}</a>
        </span>
        }
      </div>
    </app-form-section>
  </div>
  <div class="mb-3">
    <app-form-section
      headerText="Build"
    >
      <div class="d-flex flex-column m-2">
        <span>Version: {{ about()?.version || 'unknown' }}</span>
        @if (about()?.buildDate !== "unknown") {
          <span>Build Date: {{ (about()?.buildDate | date) || 'unknown' }}</span>
        } @else {
          <span>Build Date: unknown</span>
        }
      </div>
    </app-form-section>
  </div>
  @if (loginQrUrl()) {
    <app-form-section
      headerText="Mobile App"
    >
      <div class="m-2">
        <app-login-qr></app-login-qr>
      </div>
    </app-form-section>
  }
</app-dialog>
