<app-dialog [headerText]="headerText">
  <form [formGroup]="form">
    <div class="d-flex flex-column">
      <app-form-section
        headerText="Details"
        [indent]="false"
      >
        <app-input
          label="Name"
          [readonly]="mode | inputReadonly"
          [inputFormControl]="form | formGet : 'name'"
        ></app-input>
        <app-input
          label="Description"
          [readonly]="mode | inputReadonly"
          [inputFormControl]="form | formGet : 'description'"
        ></app-input>
        <app-select
          label="Type"
          optionDisplayKey="displayValue"
          optionValueKey="value"
          [readonly]="typeReadonly"
          [options]="typeOptions"
          [inputFormControl]="form | formGet:'type'"
        ></app-select>
      </app-form-section>
      @if (form.get("type")?.value === CustomFieldType.Select) {
        <app-form-section
          headerText="Options"
          [headerButtonsTemplate]="optionsButtonTemplate"
          [indent]="false"
        >
          @for (option of options; track $index; let index = $index) {
            <div class="d-flex align-items-center">
              <app-input
                class="w-100"
                label="Value"
                [readonly]="mode | inputReadonly"
                [inputFormControl]="form | formGet: 'options.' + index + '.value'"
              ></app-input>
              @if (canDeleteOption(index)) {
                <app-delete-button
                  data-testid="custom-field-option-delete"
                  (clicked)="deleteOption(index)"
                ></app-delete-button>
              }
            </div>
          }
        </app-form-section>
      }
    </div>

    @if (mode !== FormMode.view) {
      <app-dialog-footer
        (cancelClicked)="closeDialog()"
        (submitClicked)="submit()"
      ></app-dialog-footer>
    }
  </form>
</app-dialog>

<ng-template
  #optionsButtonTemplate
>
  @if (mode !== FormMode.view) {
    <app-add-button
      tooltip="Add option"
      data-testid="custom-field-option-add"
      (clicked)="addOption()"
    ></app-add-button>
  }
</ng-template>
